.env.local
/Frontend-Web/node_modules
/Frontend-Web/.pnp
/Frontend-Web/.pnp.*
/Frontend-Web/.yarn/*
/Frontend-Web/!.yarn/patches
/Frontend-Web/!.yarn/plugins
/Frontend-Web/!.yarn/releases
/Frontend-Web/!.yarn/versions
/Frontend-Web/coverage
/Frontend-Web/.next/
/Frontend-Web/out/
/Frontend-Web/build
/Frontend-Web/.DS_Store
/Frontend-Web/*.pem
/Frontend-Web/npm-debug.log*
/Frontend-Web/yarn-debug.log*
/Frontend-Web/yarn-error.log*
/Frontend-Web/.pnpm-debug.log*
/Frontend-Web/.vercel
/Frontend-Web/*.tsbuildinfo
/Frontend-Web/next-env.d.ts

/Backend-API/node_modules
/Backend-API/.pnp
/Backend-API/.pnp.*
/Backend-API/.yarn/*
/Backend-API/!.yarn/patches
/Backend-API/!.yarn/plugins
/Backend-API!.yarn/releases
/Backend-API!.yarn/versions
/Backend-API/coverage
/Backend-API/.next/
/Backend-API/out/
/Backend-API/build
/Backend-API/.DS_Store
/Backend-API/*.pem
/Backend-API/npm-debug.log*
/Backend-API/yarn-debug.log*
/Backend-API/yarn-error.log*
/Backend-API/.pnpm-debug.log*
/Backend-API/.vercel
/Backend-API/*.tsbuildinfo
/Backend-API/next-env.d.ts

*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test
*.env.production
*.DS_Store