/Frontend/node_modules
/Frontend/.pnp
/Frontend.pnp.*
/Frontend.yarn/*
/Frontend!.yarn/patches
/Frontend!.yarn/plugins
/Frontend!.yarn/releases
/Frontend!.yarn/versions
/Frontend/coverage
/Frontend/.next/
/Frontend/out/
/Frontend/build
/Frontend.DS_Store
/Frontend*.pem
/Frontendnpm-debug.log*
/Frontendyarn-debug.log*
/Frontendyarn-error.log*
/Frontend.pnpm-debug.log*
/Frontend.env*
/Frontend.vercel
/Frontend*.tsbuildinfo
/Frontendnext-env.d.ts
